.Caunter {
	margin-top: 20px;
	.content {
		display: flex;
		gap: 20px;
		h4 {
			margin-top: 10px;
		}
		button {
			background-color: darksalmon;
			width: 150px;
			height: 35px;
			border-radius: 9px;
			cursor: pointer;
			transition: 3s;
			&:hover {
				background-color: darkblue;
			}
		}
	}
}
